.user {
    &__item {
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgb(0 0 0 / 25%);
        padding: 35px 25px 16px 25px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        width: 50px;
        img {
            width: 100%;
        }
    }
}