.user {
    &__list {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 200px);
        gap: 10px;
    }
    &__btns {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    &__button {
        width: 70px;
        height: 20px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: #1891e2;
        color: #fff;
        &_big {
            width: 130px;
        }
    }
}